# CLion project files
.idea
cmake-build-*

# Default ignored files
/shelf/
/intersynth_bluetooth/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
